{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "react/display-name": "off"
  }
}
